<br><br><div class="container">
    <div class="row">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-6">
        <mat-card class="example-card" align="center">
    
            <mat-card-title>FORGOT PASSWORD</mat-card-title>
            <mat-card-content>
        
                <form  >
         <input class="form-control" type="text" placeholder="username" aria-label="default input example" name="userid" [(ngModel)]="otps.userid"><br><br>
         <button mat-raised-button color="primary" (click)="fnverify()">Send OTP</button>
                </form>
        
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-3"></div>
</div>
</div>



