
 <br><br><div class="container">
    <div class="row">
   
    <div class="col-lg-12">

      <mat-card class="example-card" align="center" >
    
        <mat-card-title>CREATE ACCOUNT</mat-card-title>
        <mat-card-content>  <br>     
<form >


<mat-form-field appearance="fill">

<select matNativeControl required (change)="fnchange()" [(ngModel)]=" accounts.usertype" name="usertype" >

  
<option value="customer"  >customer</option>
<option value="reseller" >reseller</option>

</select>
</mat-form-field>




<div  *ngIf="customer">


   
  
    <table class="example-full-width" cellspacing="0"  align="center" ><tr>
      <td><mat-form-field style="width: 372px;" class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput  name="firstname" [(ngModel)]=" accounts.firstname">
      </mat-form-field></td>
      <td><mat-form-field  style="width: 373px;" class="example-full-width" appearance="fill">
        <mat-label> Last Name </mat-label>
        <input matInput name="lastname" [(ngModel)]=" accounts.lastname">
      </mat-form-field></td>
    </tr></table><br>

    <mat-radio-group aria-label="Select an option" name="gender" [(ngModel)]="accounts.gender" >
     Gender :  <mat-radio-button  value="1">male</mat-radio-button>
      <mat-radio-button value="2">female</mat-radio-button>
    </mat-radio-group><br><br>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="accounts.dateofbirth" name="dateofbirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    
    
    
    
  
    
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Address</mat-label>
        <textarea matInput name="address" [(ngModel)]="accounts.address"  placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      
    
  
      <mat-form-field appearance="fill"  >
        <select matNativeControl required [(ngModel)]="accounts.country" name="country">
          <option value="volvo">India</option>
          <option value="saab" disabled>select your country</option>
        
        </select>
      </mat-form-field>

      <table class="example-full-width" cellspacing="0" align="center"><tr>
     
        <td><mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>mobile</mat-label>
          <input type="number" [(ngModel)]=" accounts.mobile" name="mobile" matInput placeholder="enter your mobile number here">
        </mat-form-field></td>
        
        </tr></table>

        <table class="example-full-width" cellspacing="0" align="center"><tr>
     
          <td><mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>email</mat-label>
            <input matInput name="email" [(ngModel)]="accounts.email"placeholder="enter your email">
          </mat-form-field></td>
          
          </tr></table>

          <table class="example-full-width" cellspacing="0" align="center"><tr>
     
            <td><mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>password</mat-label>
              <input matInput name=password [(ngModel)]="accounts.password">
            </mat-form-field></td>
            
            </tr></table>

            <table class="example-full-width" cellspacing="0" align="center"><tr>
     
              <td><mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>confirm password</mat-label>
                <input name=password [(ngModel)]=" accounts.password" matInput placeholder="confirm password">
              </mat-form-field></td>
              
              </tr></table>

              <button mat-raised-button color="primary" (click)="fncreates()">SIGN UP</button><br><br>

       

</div>

 <div *ngIf="reseller">

   

  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>Resseller company name</mat-label>
    <textarea matInput name="resellercompanyname" [(ngModel)]=" accounts.resellercompanyname" placeholder="company name"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>company registration id</mat-label>
    <textarea matInput name="resellercompanyid" [(ngModel)]=" accounts.resellercompanyid" placeholder="company id"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>Address</mat-label>
    <textarea matInput name="address" [(ngModel)]="accounts.address" placeholder="Ex. 100 Main St"></textarea>
  </mat-form-field>
  


  <mat-form-field appearance="fill">
    <select matNativeControl required  name="country" [(ngModel)]=" accounts.country">
      <option value="volvo">India</option>
      <option value="saab" disabled>select your country</option>
    
    </select>
  </mat-form-field>

  <table class="example-full-width" cellspacing="0" align="center"><tr>
 
    <td><mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>mobile</mat-label>
      <input name="mobile" [(ngModel)]=" accounts.mobile" type="number" matInput placeholder="enter your mobile number here">
    </mat-form-field></td>
    
    </tr></table>

    <table class="example-full-width" cellspacing="0" align="center"><tr>
 
      <td><mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>email</mat-label>
        <input name="email"  [(ngModel)]="accounts.email" matInput placeholder="enter your email">
      </mat-form-field></td>
      
      </tr></table>

      <table class="example-full-width" cellspacing="0" align="center"><tr>
 
        <td><mat-form-field class="example-full-width" appearance="fill"  >
          <mat-label>password</mat-label>
          <input [(ngModel)]="accounts.password" name="password" matInput>
        </mat-form-field></td>
        
        </tr></table>

        <table class="example-full-width" cellspacing="0" align="center"><tr>
 
          <td><mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>confirm password</mat-label>
            <input  [(ngModel)]=" accounts.password" name="password" matInput placeholder="confirm password">
          </mat-form-field></td>
          
          </tr></table>

          <h2>Bank details</h2>

          <table class="example-full-width" cellspacing="0" align="center"><tr>
 
            <td><mat-form-field class="example-full-width" appearance="fill"  >
              <mat-label>bank accont holder name</mat-label>
              <input [(ngModel)]=" accounts.resellerbankaccountname" name="resellerbankaccountname" matInput placeholder="confirm password">
            </mat-form-field></td>
          </tr></table>

          
            <table class="example-full-width" cellspacing="0" align="center"><tr>
 
              <td><mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>bank account number</mat-label>
                <input name="resellerbankaccountnumber" [(ngModel)]=" accounts.resellerbankaccountnumber" matInput placeholder="confirm password">
              </mat-form-field></td>
            </tr></table>
          
              <table class="example-full-width" cellspacing="0" align="center"><tr>
 
                <td><mat-form-field class="example-full-width" appearance="fill" name="password" >
                  <mat-label>bnk account ifsc number</mat-label>
                  <input name="resellerbankaccountifsc" [(ngModel)]=" accounts.resellerbankaccountifsc" matInput placeholder="confirm password">
                </mat-form-field></td>
              </tr></table>
                


          <button mat-raised-button color="primary" (click)="fncreates()">SIGN UP</button><br><br>




 </div>
  
  
    

     </form>     
      </mat-card-content>
       </mat-card>      
</div>

    

